
<!--layoutappcaras-->

{% extends 'layoutinicio2.html' %}

{% block nav %}

{% endblock %}


{% block title %}

    {% if tipoapp == "pantalla"%}
        App Caras Pantalla
    {% endif %}

{% endblock %}





{% block content %}

    <!--titulo de inicio-->

    {% if tipoapp == "pantalla"%}
        {% if estadoparticipante == "estable"%}
            <h1 class="titulo2">Ejecutando Aplicación Caras Hiperrealistas</h1>
        {% endif %}
    {% endif %}
    
    <br>

    <!--crear mensajes flash-->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %} 
            {% for category, message in messages %}
                <div class="{{category}}">
                    {{ message }}
                </div>
                <br>
            {% endfor %}
        {%endif%}
    {% endwith %}

    <br>
 
    {% if tipoapp == "pantalla"%}
        <h3 class="titulo2">Si la aplicación Caras Hiperrealistas ha finalizado, presiona el siguiente botón para volver al participante actual:</h3>
    {% endif %}

    <br>
    <br>
    <br>
    <br>

    <div class="botonguardar">
    
        <a class="botonformularioregistrovolver1" href="/listaformulariosparticipante/{{ tipoparticipante }}/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}/" onclick="return confirm('¿Estas seguro de que deseas volver al participante? Al presionar aceptar se redigirá al participante actual')">Volver al participante</a>

    </div>

{% endblock %}