
<!--layoutinicio2.html-->

<!doctype html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/indice.ico') }}">


    
    <!-- script para activar graficos Chart.js -->
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>


    <!-- script para activar jQuery -->

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>


    <!-- script para evitar un doble submit -->
    
    <script type="text/javascript">

        // funcion que evita dobles clicks de raton y teclado
        function clickStopper(e)
        {
          //alert("click was blocked"); // ** you can remove this line **
          e.preventDefault(); // equivalent to 'return false'
        }
    
    </script>

    <!-- script para cada formulario de forma independiente -->
    {% block scripts %}

    {% endblock %}


</head>

<body>
    <header>
        <div id="logotipo">
            <!--logotipos-->

            <img class="logotipo1" src="{{ url_for('static', filename='img/indice2.png') }}"/>
            <img class="logotipo3" src="{{ url_for('static', filename='img/indice3.png') }}"/> 
            
            <!--titulo de la aplicacion-->
            <!--<h1>APP FORMULARIOS CARAS</h1>-->
            <h2>RECONOCIMIENTO FACIAL DE EMOCIONES</h2>
            
            <!--logotipos-->
            <img class="logotipo4" src="{{ url_for('static', filename='img/indice1.png') }}"/>   
            <img class="logotipo2" src="{{ url_for('static', filename='img/indice.png') }}"/> 
        </div>


    </header>

    <nav>
        <ul>
            {% block nav %}
            <!-- introducir codigo en cada templates-->
            {% endblock %}
        </ul>
    </nav>

    <div id="content">
        <div class="box">
            {% block content %}
            <!-- introducir codigo de los templates-->
            {% endblock %}
        </div>
    </div>


    <footer>
        Unidad Multidisciplinar en Neurocognición y Emoción en Entornos Reales y Virtuales &copy; 2023.
    </footer>

</body>

</html>


