
<!--listaformulariospaciente.html-->

{% extends tipolayout %}

{% block nav %}

    <li>
        <a href="/">Inicio</a>
    </li>

    {% if tipopaciente == "bipolar"%}
        <li>
            <a href="/listapacientes/bipolar">Lista de Pacientes con Trastorno Bipolar</a>
        </li>
        <li>
            <a class="cerrarprogramabipolares2" href="/salir" onclick="return confirm('¿Estas seguro de que deseas cerrar el programa?')">Cerrar Programa</a>
        </li>

    {% endif %}

{% endblock %}


{% block title %}Lista formularios de cada paciente{% endblock %}


{% block content %}

    <!--titulo de inicio-->
    {% if tipopaciente == "bipolar"%}
        <h1 class="titulo2">Escalas Paciente Con Trastorno Bipolar:</h1>
    {% endif %}


    <!--crear mensajes flash-->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %} 
            {% for category, message in messages %}
                <div class="{{category}}">
                    {{ message }}
                </div>
                <br>
            {% endfor %}
        {%endif%}
    {% endwith %}

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div>
        <h3>Identificador del paciente (NHC): {{ nhcpaciente }}</h3>
    </div>
    <br>



    <div class="divtable1">
        <table class="table7">

            <thead class="theadtable">
                <tr>
                    <!--colocar todo los valores de las tablas que se deseen mostar -->
                    <td class="titulostablas6">Paciente Estable:</td>
                    <td class="titulostablas13">Estado:</td>
                    <td class="titulostablas9">Fecha Modificación:</td>

                </tr>
            </thead>

            <tbody class="tbodytable1">

                <!-- Formulario Antecedentes -->

                <tr>
                    <td class="contenidotabla3">
                        <a class="btn3" href="/formularioantecedentes/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}">Formulario Antecendentes</a>
                    </td>
                    <td class="contenidotabla3">
                        {{ datosformularioantecedentesestable.estadoescala }}
                    </td>
                    <td class="contenidotabla3">
                        {{ datosformularioantecedentesestable.fechaultimamodificacion }}
                    </td>
                </tr>



                <!-- Escalas -->



<!-- Escala PANAS -->

            <tr>
                <td class="contenidotabla3">
                    <a class="btn5" href="/escalapanas/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}">Escala PANAS</a>
                </td>
                <td class="contenidotabla3">
                    {{ datosescalapanasestable.estadoescala }}
                </td>
                <td class="contenidotabla3">
                    {{ datosescalapanasestable.fechaultimamodificacion }}
                </td>
            </tr>





<!-- Appcaraspantalla -->

            <tr>

                <td class="contenidotabla3">
                    {% if not datosappcaraspantallaestable.nhcpaciente %}
                    <a class="btn11" href="/appcaraspantalla/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}">App No Inmersiva (RFN-E)</a>
                    {% endif %}
                    {% if datosappcaraspantallaestable.nhcpaciente %}
                    <a class="btn7" href="/borrardatospacienteappcaraspantalla/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}" onclick="return confirm('¿Estas seguro de que deseas borrar los datos actuales del paciente y reiniciar la aplicación? Si pulsas aceptar se borrarán los datos y se reiniciará la aplicación para volver a tomar los datos.')">Reinicio App No Inmersiva (RFN-E)</a>
                    {% endif %}
                </td>
                <td class="contenidotabla3">
                    {% if datosappcaraspantallaestable.nhcpaciente %}
                    <a class="btn9" href="/resultadospacienteappcaraspantalla/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}" >Ver Resultados (RFN-E)</a>
                    {% endif %}

                </td>
                <td class="contenidotabla3">
                    {% if datosappcaraspantallaestable.nhcpaciente %}
                    <a class="btn10" href="/descargarresultadospacienteappcaraspantalla/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}" onclick="this.addEventListener('click', clickStopper, false);">Descargar pdf (RFN-E)</a>
                    {% endif %}
                </td>
            </tr>



<!-- Cuestionario Avatares -->

            <tr>
                <td class="contenidotabla3">
                    <a class="btn6" href="/cuestionarioavatares/{{ tipopaciente }}/estable/{{ idpaciente }}/{{ nhcpaciente }}/{{ fechacreacion }}">Cuestionario Avatares</a>
                </td>
                <td class="contenidotabla3">
                    {{ datoscuestionarioavataresestable.estadoescala }}
                </td>
                <td class="contenidotabla3">
                    {{ datoscuestionarioavataresestable.fechaultimamodificacion }}
                </td>
            </tr>


                
            </tbody>
        </table>
    </div>

    <br>
    <br>


    <div class="botonguardar">

        <form action="" method="post">
            <input class="botonsalirpaciente" type="submit" id="salirpaciente" name="salirpaciente" value="Salir del Paciente" />
        </form>
        
    </div>

{% endblock %}