
<!--listaformulariosparticipante.html-->

{% extends tipolayout %}

{% block nav %}

    <li>
        <a href="/">Inicio</a>
    </li>

    {% if tipoparticipante == "control"%}
        <li>
            <a href="/listaparticipantes/control">Lista de Participantes</a>
        </li>
        <li>
            <a class="cerrarprogramabipolares2" href="/salir" onclick="return confirm('¿Estas seguro de que deseas cerrar el programa?')">Cerrar Programa</a>
        </li>

    {% endif %}

{% endblock %}


{% block title %}Lista formularios de cada participante{% endblock %}


{% block content %}

    <!--titulo de inicio-->
    {% if tipoparticipante == "control"%}
        <h1 class="titulo2">Escalas Participante:</h1>
    {% endif %}


    <!--crear mensajes flash-->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %} 
            {% for category, message in messages %}
                <div class="{{category}}">
                    {{ message }}
                </div>
                <br>
            {% endfor %}
        {%endif%}
    {% endwith %}

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <br>
    <div>
        <h3>Identificador del participante: {{ nhcparticipante }}</h3>
    </div>
    <br>



    <div class="divtable1">
        <table class="table7">

            <thead class="theadtable">
                <tr>
                    <!--colocar todo los valores de las tablas que se deseen mostar -->
                    <td class="titulostablas6"></td>
                    <td class="titulostablas13">Estado:</td>
                    <td class="titulostablas9">Fecha Última Modificación:</td>

                </tr>
            </thead>

            <tbody class="tbodytable1">

                <!-- Formulario Antecedentes -->

                <tr>
                    <td class="contenidotabla3">
                        <a class="btn3" href="/formularioantecedentes/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}">Formulario Antecendentes</a>
                    </td>
                    <td class="contenidotabla3">
                        {{ datosformularioantecedentesestable.estadoescala }}
                    </td>
                    <td class="contenidotabla3">
                        {{ datosformularioantecedentesestable.fechaultimamodificacion }}
                    </td>
                </tr>



                <!-- Escalas -->

               
                <!-- Escala PANAS -->

                <tr>
                    <td class="contenidotabla3">
                        <a class="btn5" href="/escalapanas/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}">Escala PANAS</a>
                    </td>
                    <td class="contenidotabla3">
                        {{ datosescalapanasestable.estadoescala }}
                    </td>
                    <td class="contenidotabla3">
                        {{ datosescalapanasestable.fechaultimamodificacion }}
                    </td>
                </tr>





                <!-- Appcaraspantalla -->

                <tr>

                    <td class="contenidotabla3">
                        {% if not datosappcaraspantallaestable.nhcparticipante %}
                        <a class="btn11" href="/appcaraspantalla/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}">Ejecutar App Caras Hiperrealistas</a>
                        {% endif %}
                        {% if datosappcaraspantallaestable.nhcparticipante %}
                        <a class="btn7" href="/borrardatosparticipanteappcaraspantalla/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}" onclick="return confirm('¿Estas seguro de que deseas borrar los datos actuales del participante y reiniciar la aplicación? Si pulsas aceptar se borrarán los datos y se reiniciará la aplicación para volver a tomar los datos.')">Reinicio App Caras Hiperrealistas</a>
                        {% endif %}
                    </td>
                    <td class="contenidotabla3">
                        {% if datosappcaraspantallaestable.nhcparticipante %}
                        <a class="btn9" href="/resultadosparticipanteappcaraspantalla/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}" >Ver Resultados</a>
                        {% endif %}

                    </td>
                    <td class="contenidotabla3">
                        {% if datosappcaraspantallaestable.nhcparticipante %}
                        <a class="btn10" href="/descargarresultadosparticipanteappcaraspantalla/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}" onclick="this.addEventListener('click', clickStopper, false);">Descargar pdf</a>
                        {% endif %}
                    </td>
                </tr>



                <!-- Cuestionario Avatares -->

                <tr>
                    <td class="contenidotabla3">
                        <a class="btn6" href="/cuestionarioavatares/{{ tipoparticipante }}/estable/{{ idparticipante }}/{{ nhcparticipante }}/{{ fechacreacion }}">Cuestionario Avatares Hiperrealistas</a>
                    </td>
                    <td class="contenidotabla3">
                        {{ datoscuestionarioavataresestable.estadoescala }}
                    </td>
                    <td class="contenidotabla3">
                        {{ datoscuestionarioavataresestable.fechaultimamodificacion }}
                    </td>
                </tr>


                
            </tbody>
        </table>
    </div>

    <br>
    <br>


    <div class="botonguardar">

        <form action="" method="post">
            <input class="botonsalirparticipante" type="submit" id="salirparticipante" name="salirparticipante" value="Salir del Participante" />
        </form>
        
    </div>

{% endblock %}