
<!--listaparticipantes.html-->

{% extends tipolayout %}


{% block nav %}

    <li>
        <a href="/">Inicio</a>
    </li>

    {% if tipoparticipante == "control"%}
        <li>
            <a href="/formularioregistro/control">Crear Nuevo Participante</a>
        </li>
        <li>
            <a class="cerrarprogramabipolares1" href="/salir" onclick="return confirm('¿Estas seguro de que deseas cerrar el programa?')">Cerrar Programa</a>
        </li>

    {% endif %}

{% endblock %}


{% block title %}Lista de Participantes{% endblock %}


{% block content %}

    <!--titulo de inicio-->
    {% if tipoparticipante == "control"%}
        <h1 class="titulo2">Lista de Participantes</h1>
    {% endif %}


    <!--crear mensajes flash-->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %} 
            {% for category, message in messages %}
                <div class="{{category}}">
                    {{ message }}
                </div>
                <br>
            {% endfor %}
        {%endif%}
    {% endwith %}


    <h3>Número de participantes en la lista: {{ numeroparticipantes }}</h3>
    <br>
    <div class="divtable">

        <table>
            <thead class="theadtable">
                <tr>
                    <!--colocar todo los valores de las tablas que se deseen mostar -->
                    
                    <td class="titulostablas1">Identificador (NHC):</td>
                    <td class="titulostablas1">Fecha de creación:</td>
                    <td class="titulostablas3"></td>
                    <td class="titulostablas4"></td>
                    <td class="titulostablas5"></td>

                </tr>
            </thead>


            <tbody class="tbodytable">
                {% for participante in listaparticipantes %}
                    <tr>
                        <!--colocar todo los valores de las tablas que se deseen mostar -->
                        <td class="contenidotabla0">{{ participante.nhcparticipante }}</td>
                        <td class="contenidotabla0">{{ participante.fechacreacion }}</td>

                        <!--Formulario Principal datos sociodemográficos-->
                        <td class="contenidotabla3">
                            <a class="btn3" href="/formularioregistro/{{ tipoparticipante }}/{{ participante.idparticipante }}">Editar Formulario de Registro</a>
                        </td>

                        <td class="contenidotabla3">
                            <!-- en el apartado de borrar hay que indicar /idparticipante/nhcparticipante/fechacreacion-->
                            <a class="btn8" href="/listaformulariosparticipante/{{ tipoparticipante }}/{{ participante.idparticipante }}/{{ participante.nhcparticipante}}/{{ participante.fechacreacion }}">Rellenar/Editar Escalas</a>
                        </td>

                        <td class="contenidotabla3">
                            <!-- en el apartado de borrar hay que indicar /idparticipante/nhcparticipante/fechacreacion-->
                            <a class="btn7" href="/borrarparticipante/{{ tipoparticipante }}/{{ participante.idparticipante }}/{{ participante.nhcparticipante }}/{{ participante.fechacreacion }}" onclick="return confirm('¿Estas seguro de que deseas eliminar el participante: {{  participante.nhcparticipante }}?')">Eliminar Participante</a>
                        </td>

                    </tr>
                    
                {% endfor %}
            </tbody>

        </table>
    </div>


{% endblock %}